@page
@model Tickets.Web.Pages.User_Pages.DetailsModel
@{
}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    @if (@Model.User.ProfileImage == null)
                                    {
                                        <img src="~/Ref/user.png" class="img-radius" alt="User-Profile-Image">
                                    }
                                    else
                                    {
                                        <img src="~/Ref/@Model.User.ProfileImage" class="img" alt="User-Profile-Image">
                                    }

                                </div>


                                <h6 class="f-w-600">@Model.User.UserName</h6>
                                <p> @Model.User.Role.Name</p> <a class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16" asp-page="Edit"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-auto">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">@Model.User.Email</h6>
                                    </div>
                                    <div class="col-sm-auto">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">@Model.User.PhoneNumber</h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Full Name</p>
                                        <h6 class="text-muted f-w-400">@Model.User.FullName</h6>
                                    </div>

                                </div>
                                <div class="bottom-right">
                                    <a asp-page="Edit" asp-route-id="@Model.User.Id" class="btn btn-primary">Edit</a>

                                    <a asp-page="Index" class="btn btn-outline-dark">Back to List</a>

                                </div>
                                   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>