@page
@model Tickets.Web.Pages.Projects.DetailsModel
@{
}



<div class="mx-auto" style="width:1100px;">
    <h1>Details</h1>
    <h4>Project #@Model.Project.Id</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Project.ProjectType.Id)
        </dt>
        <dd class="col-sm-10">
           
            @Model._projectAppService.GetProjectStatus(Model.Project.ProjectType.Id).Status
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ClientName)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.CreatedBy)
        </dd>
        @if (Model.Project.UpdatedOn != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.UpdatedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.UpdatedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.UpdatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.UpdatedOn)
            </dd>

        }*@


    </dl>
    <div>

        <a asp-page="Edit" asp-route-id="@Model.Project.Id" class="btn btn-primary">Edit</a>

        <a asp-page="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

</div>
