@page
@model Tickets.Web.Pages.Projects.IndexModel
@{
}

<div class="mx-auto" style="width:1100px;">
    <h1>Index</h1>

    <p>
        <a asp-page="Create"  class="btn btn-primary">Add New Project</a>
    </p>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>
                    #
                </th>

                <th>
                    Title
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Last Update
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    @if (item.UpdatedOn != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedOn)
                        </td>

                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                    }

                    <td>
                        <a   asp-page="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                        <a  asp-page="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        <a   asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>